h1{
    font-weight: bold;
    margin: 30px;
    margin-top: 250px;
}

.details{
    border: 1px solid black;
    border-radius: 30px;
    width: 900px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 0 15px 0  rgba(0, 0, 0, 0.507) ;
}

p{
    margin: 15px;
}
h2{
    margin: 15px;
}

button{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    margin-left: 150px;
}